<%- include('header') %> <%- include('navbar') %>
<html>
  <body>
    <h1>Uploads by: <%=user%></h1>
    <div class="row">
      <form class="col-3" action="/edit/user/:index" method="POST">
        <input
          class="col ml-2 mt-2"
          type="text"
          placeholder="Create new playlist"
          name="playlist"
        />
        <input class="col ml-2" type="submit" value="Submit" />
      </form>
      <div class="col-1">
        <a
          class="btn btn-primary mx-3"
          href="/edit/user/<%=user%>/"
          role="button"
          >Uploads</a
        >
      </div>

      <div class="col">
        <%playlist.forEach((b)=>{%>
        <a
          class="btn btn-primary mx-3"
          href="/playlist/<%=b.id%>/"
          role="button"
          ><%=b.title%></a
        >
        <%});%>
      </div>
    </div>
    <% allNotes.forEach((a, index) => {%>
    <div class="row border mt-3">
      <img
        src="/images/<%=a.img%>.png"
        class="img-thumbnail col-3 me-3"
        alt="..."
      />
      <div class="col mt-3">
        <div class="row fw-bold fs-3">
          <a href="/music/<%=a.id%>"><%=a.title%></a>
        </div>
        <div class="row">
          <div class="col-1 mt-2">artist:</div>
          <div class="col mt-2">
            <a href="/artist/<%=a.img%>"><%=a.name%></a>
          </div>
        </div>
        <div class="row">
          <div class="col">Duration: <%=a.duration%></div>
        </div>
        <div class="row">
          <div class="col-1">Genre:</div>
          <%genre.forEach((b)=>{%> <%if(a.id === b.song_id){%>
          <div class="col-1"><%=b.name%></div>
          <%}});%>
        </div>
        <div class="row">
          <a class="col mt-5" href="<%= a.link %>">YouTube link</a>
        </div>
        <div class="row">
          <div class="col-1">
            <a
              class="btn btn-primary btn-sm btn-danger"
              href="/delete/<%=a.id%>"
              role="button"
              >delete</a
            >
          </div>
          <div class="col-1">
            <a
              class="btn btn-primary btn-sm"
              href="/edit/<%=a.id%>"
              role="button"
              >edit</a
            >
          </div>
          <div class="dropdow col">
            <button
              class="btn btn-secondary dropdown-toggle btn-sm"
              type="button"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Add to playlist
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <%playlist.forEach((b)=>{%>
              <li>
                <a
                  class="dropdown-item"
                  href="/playlist/add/<%=b.id%>/<%=a.id%>"
                  ><%=b.title%></a
                >
              </li>

              <%});%>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <% }); %>
  </body>
</html>
<%- include ('footer') %>
